<%- include("../includes/head.ejs")%>
</head>

<body>
    <%- include("../includes/navigation.ejs")%>
    <div class="container">
        <% if(error){%>
        <div><%= error %></div>
        <%}%>
        <form action="/reset" method="POST">
            <input type="hidden" value="<%= token %>" name="_csrf" />
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
    <%-include("../includes/end.ejs")%>