
    <%- include("../includes/head.ejs")%>
  </head>
  <body>
    <%- include("../includes/navigation.ejs")%>
    <h1><%= pageTitle %></h1>
    <div class="container">
      <% if(products.length > 0){%> <% products.forEach(function(product){ %>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">RM<%= product.price %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= product.title%></h6>
          <p class="card-text">
            <%= product.decsription%>
          </p>
          <a href="/product/<%= product._id%>" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <% }); %> <% }else{ %>
      <h3>No products found!</h3>
      <% } %>
    </div>
    <%-include("../includes/end.ejs")%>
